.header {
    background-color: black;
    border-bottom: 2px solid #f44336;
    position: fixed;
    top: 0;
    display: flex;
    padding: 0 5rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
    left: 0%;
    width: 100%;
    height: 68px;
    display: flex;

    align-items: center;
    justify-content: space-around;
}

.header span {
    font-size: 2rem;
    color: #b71c1c;
    font-weight: 500;
}

.header nav {
    margin-right: 1rem;
}

.header a {
    text-decoration: none;
    color: #fff;
    padding-inline: 0.5rem;
}

/* .header nav {
    margin-right: 1 rem;
} */


.header a {
    text-decoration: none;
    color: #fff;
    padding-inline: 1rem;
    font-size: 1.125rem;
    /* 18px = 1.125rem; */
}