.banner {
    width: 100%;
    /* ver tamanho imagem*/
    height: 347px;
    background-image: url('/public/images/banner-home.page.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 8px;
    padding: auto;
    padding-bottom: 0%;
    top: 50%;
    left: 150%;
    position: relative;
}